# CONFIGURACIÓN DE VARIABLES DE ENTORNO - AIRBNB CLONE
# ======================================================

# URL del frontend que tiene permitido realizar peticiones (CORS)
# Esta variable es CRÍTICA ya que se inyecta en:
# 1. La configuración del API Gateway (Preflight CORS)
# 2. Todas las Lambdas del backend (Access-Control-Allow-Origin header)
#
# Para desarrollo local usualmente es: http://localhost:5173
# Para producción debe ser el dominio donde esté alojado el frontend (e.g. https://mi-app.cloudfront.net)
FRONTEND_URL=http://localhost:5173
